<div class="metas">
    <ul>
        <li>
            <strong>Created</strong>
            <div class="value">
                {{ metas.created }}
                {#{{ metas.created.strftime("%Y-%m-%d") }}#}
            </div>
        </li>
        <li>
            <strong>Generator version</strong>
            <div class="value">{{ metas.generator }}</div>
        </li>
        <li>
            <strong>Nu Html Checker (v.Nu)</strong>
            <div class="value">{{ metas.vnu }}</div>
        </li>
    </ul>
</div>
